/.vs/WebApplication1/DesignTimeBuild/.dtbcache
/.vs/WebApplication1/v16/.suo
/.vs/WebApplication1/v16/Server/sqlite3/storage.ide
/SYF.Data/bin/Debug/netcoreapp3.0/SYF.Data.deps.json
/SYF.Data/bin/Debug/netcoreapp3.0/SYF.Infrastructure.dll
/SYF.Data/bin/Debug/netcoreapp3.0/SYF.Infrastructure.pdb
/SYF.Data/obj/Debug/netcoreapp3.0/SYF.Data.csprojAssemblyReference.cache
/SYF.Framework/obj/Debug/netcoreapp2.2/SYF.Framework.csproj.FileListAbsolute.txt
/SYF.Framework/obj/Debug/netcoreapp2.2/SYF.Framework.csprojAssemblyReference.cache
/System.Infrastructure/bin/Debug/netcoreapp3.0/SYF.Infrastructure.deps.json
/System.Infrastructure/bin/Debug/netcoreapp3.0/SYF.Infrastructure.dll
/System.Infrastructure/bin/Debug/netcoreapp3.0/SYF.Infrastructure.pdb
/System.Infrastructure/obj/Debug/netcoreapp3.0/SYF.Infrastructure.csprojAssemblyReference.cache
/System.Infrastructure/obj/Debug/netcoreapp3.0/SYF.Infrastructure.dll
/System.Infrastructure/obj/Debug/netcoreapp3.0/SYF.Infrastructure.pdb
/System.Services/bin/Debug/netcoreapp3.0/SYF.Infrastructure.dll
/System.Services/bin/Debug/netcoreapp3.0/SYF.Infrastructure.pdb
/System.Services/bin/Debug/netcoreapp3.0/SYF.Services.deps.json
/System.Services/bin/Debug/netcoreapp3.0/SYF.Services.dll
/System.Services/bin/Debug/netcoreapp3.0/SYF.Services.pdb
/System.Services/obj/Debug/netcoreapp3.0/SYF.Services.csprojAssemblyReference.cache
/System.Services/obj/Debug/netcoreapp3.0/SYF.Services.dll
/System.Services/obj/Debug/netcoreapp3.0/SYF.Services.pdb
/.vs/WebApplication1/DesignTimeBuild/.dtbcache
/SYF.Data/bin/Debug/netcoreapp3.0/SYF.Infrastructure.pdb
